<section class="section">
  <div class="container">
    <h1 class="title" [class.has-background-danger]="solicitud.error">
      Solicitud de comedor
    </h1>
    <p class="subtitle">
      Nueva solicitud
    </p>
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input
          [ngClass]="{ 'is-danger': solicitud.error, input: true }"
          type="text"
          placeholder="Nombre"
          value="{{ solicitud.nombre }}"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Apellidos</label>
      <div class="control">
        <input
          (keyup)="actualizaApellidos($event)"
          class="input"
          [class.is-danger]="!solicitud.apellidos.length"
          type="text"
          placeholder="Apellidos"
          value="{{ solicitud.apellidos }}"
        />
      </div>
    </div>

    <div class="control">
      <button class="button is-primary" (click)="enviar(solicitud)">
        Enviar
      </button>
    </div>
  </div>
</section>
