<section class="section">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes">
        <td>{{ solicitud.nombre }}</td>
        <td>{{ solicitud.apellidos }}</td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <h1 class="title">
      Solicitud de comedor
    </h1>
    <p class="subtitle">
      Nueva solicitud
    </p>
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input
          [ngClass]="{ 'is-danger': solicitud.error, input: true }"
          type="text"
          placeholder="Nombre"
          value="{{ solicitud.nombre }}"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Apellidos</label>
      <div class="control">
        <input
          (keyup)="actualizaApellidos(apellidos.value)"
          class="input"
          [class.is-danger]="!solicitud.apellidos.length"
          type="text"
          #apellidos
          placeholder="Apellidos"
          value="{{ solicitud.apellidos }}"
        />
        <p *ngIf="!solicitud.apellidos.length" class="help is-danger">
          Los apellidos no pueden ser nulos
        </p>
      </div>
    </div>

    <div class="control">
      <button class="button is-primary" (click)="enviar(solicitud)">
        Enviar
      </button>
    </div>
  </div>
</section>
